.review_main {
    background-color: #F4F6F8;
    padding: 100px 2%;
}

.review_text h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    padding-bottom: 40px;
    text-align: center;
}

.review_link {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    padding-bottom: 200px;

}

.review_main a {
    transition: transform 1s ease-in-out;
}

.review_main a:hover {
    transform: scale(1.12);
}

.review_main img {
    border-radius: 20px;
    width: 540px;
    height: 360px;
}

.review_img {
    width: 363px;
    height: 261px;
}